doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title #{title}
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="icon" type="image/svg+xml" href!="data:image/svg+xml;charset=utf-8,&#60;svg xmlns=&#34;http://www.w3.org/2000/svg&#34; viewBox=&#34;0 0 9 9&#34;&#62;&#60;text fill=&#34;white&#34; font-family=&#34;serif&#34; font-size=&#34;9&#34; font-weight=&#34;bold&#34; x=&#34;1&#34; y=&#34;7&#34;&#62;Q&#60;/text&#62;&#60;/svg&#62;")
  body

    header
      h1 #{title}

    main

      div#status

        p #{answered}:
        output#answered 0

        p #{right}:
        output#right 0

        p #{wrong}:
        output#wrong 0

      h2#category

      p#question

      div#answers
        button#a0
        button#a1
        button#a2
        button#a3

    script(type="module" src="./js/main.js")
